/**************************************/
/************* RESETS ****************/
/************************************/
* {
    overflow-anchor: none !important;
    scroll-snap-stop: normal !important;
    overscroll-behavior: unset !important;
    scroll-behavior: unset !important;
}

html,
* {
    margin: 0;
    padding: 0;
}

/**************************************/
/******* KEY HTML ELEMENTS **********/
/************************************/
body {
    font-family: monospace, sans-serif, arial;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

header,
footer {
    font-family: tahoma;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: unbounded, tahoma;
}

main {
    min-height: 70vh;
    padding-bottom: 3rem;
}

a {
    color: rgb(17, 102, 62);
}

a:hover {
    color: rgb(201, 19, 98) !important;
}

.btn:hover {
    background-color: #d7fff3;
    border: 1px dotted black;
    color: black;
    text-decoration: underline;
}

blockquote {
    margin: 7px 5%;
    font-style: italic;
    border-left: 3px solid #bbb;
    padding: 0 7px;
}

/**************************************/
/******** KEY SITEWIDE EFFECTS *******/
/************************************/
.pzntrk {
    font-weight: 900;
    text-transform: uppercase;
}

.clearer {
    display: block;
    width: 100%;
    clear: both;
}

.word-breakie {
    word-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.pink {
    color: rgb(201, 19, 98);
}

.highlight {
    padding: 3px 7px;
    background: #d7fff3;
    border: 1px dotted black;
}

.trigger .highlight {
    padding: 0 1px;
    background: none;
    border: 0;
    text-decoration: underline;
    font-weight: 600;
}

/**************************************/
/*********** HEADER SECTION **********/
/************************************/
header .main-nav {
    background: white;
    border-bottom: 3px solid black;
    height: 3rem;
}

header .navbar-nav,
.logo h1 {
    background: black;
    animation-name: fade-in;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .nav-item {
    margin: auto 0;
    border-right: 1px dotted white;
    padding: 1px 7px;
    animation-name: fade-in;
    animation-duration: 1.7s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

header .nav-item a {
    color: white;
}

header *:focus,
header *:active,
.categorical *:focus,
.categorical *:active {
    outline: none !important;
    box-shadow: none !important;
}

header .custom-toggler,
.categorical .custom-toggler {
    background: black;
    color: white;
    border: 0;
    z-index: 2;
    border-radius: 0;
}

.categorical .navbar-nav {
    flex-wrap: wrap;
}

.categorical .custom-toggler {
    background: transparent;
    margin-right: 1em;
}

.categorical a {
    color: black;
    padding: 0.5em 0.7em;
    margin-right: 0.7em;
    font-variant: small-caps;
    border: 0;
    border-bottom: 1px dotted black;
    text-decoration: none;
    text-transform: capitalize;
}

.categorical .active {
    border-right: 1px;
    border-style: dotted;
    background: pink;
}

header .navbar-collapse {
    text-align: center;
}

.collapsing {

    animation-name: collapse-in-style;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}


@keyframes collapse-in-style {
    from {
        padding-top: 1rem;
    }

    50% {
        padding-top: calc(100vh/10);
    }

    to {
        min-height: 100vh;
        padding-top: calc(100vh/5);
        font-size: x-large;
    }
}

header .navbar-collapse.collapse.show {
    min-height: 100vh;
    background: black;
    padding-top: calc(100vh/5);
    font-size: x-large;
}

header #responsive-navbar-nav.show .nav-item {
    margin: 7px auto;
    border: none;
}

header #responsive-navbar-nav.show .linky {
    display: inline-block;
}

header #responsive-navbar-nav.show .linky .nav-item {
    display: inline-block;
    margin: auto 7px;
    margin-top: 3rem;
}

.scene,
.logo {
    min-height: 60vh;
    background: black;
    background: linear-gradient(-45deg, #e73c7e, #8a6ae1, #8a6ae1, #23d5ab);
    background-size: 300% 300%;
    border-bottom: 3px solid black;
    margin-bottom: 0;
    animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.logo .gatsby-image-wrapper,
.logo .gatsby-image-wrapper-constrained {
    margin: 0 5% -2.4vh 0;
}

.logo .gatsby-image-wrapper img,
.logo .gatsby-image-wrapper-constrained img {
    max-height: 40vh;
}

.titlebar,
.titlebar {
    float: right;
    margin: 0;
    padding: 2.3vh 3% 1vh;
    color: white;
    background: black;
    border: 1px dotted white;
    border-bottom: 0;
}

.titlebar h1,
.titlebar h2 {
    margin: 0;
}

.titlebar h2 {
    display: block;
    font-family: tahoma, verdana, sans-serif;
    font-size: small;
    letter-spacing: 1px;
}

.scene h1 {
    display: block;
    border-top: 1px dotted white;
}

.trigger {
    font-size: small;
    margin: 0 10% 0 0;
}

/**************************************/
/******** MAIN CONTENT AREA **********/
/************************************/
.titulazo {
    margin-top: 5em;
}

.horizontal-section {
    background: ghostwhite;
    margin: 3rem auto 5rem;
    padding: 5rem 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.bg-highlight {
    background: #d7fff3;
}

.card {
    border: 0;
    margin: 1em 2%;
    padding: 0;
    text-align: left;
    background: transparent;
}

.card-body {
    padding: 0;
}

main .gatsby-image-wrapper,
main .gatsby-image-wrapper-constrained {
    background: white;
    width: 70% !important;
    margin: 0;
    border: 3px solid black;
    border-radius: 0 50px 0 5px;
    border-bottom: 1px solid black;
    transition: 0.7s;
}

main .gatsby-image-wrapper img,
main .gatsby-image-wrapper-constrained img {
    width: 102%;
    height: 102%;
}

.card-title {
    width: 100%;
    background: black;
    border-top: 1px solid white;
    border-top-right-radius: 5px;
    border-left: 1px dotted white;
    border-bottom: 1px dotted white;
    margin: 0;
    padding: 0.5em 0.4em;
}

.card-title,
.card-title a,
.card-title h4 {
    color: white;
}

.card .cats,
.card .additional {
    display: block;
    width: fit-content;
    margin: -10px 0 14px;
    padding: 3px 7px;
    border: 1px dotted black;
    text-transform: capitalize;
    color: black;
}

.card .additional {
    border: 0;
    margin-top: 14px;
    padding: 0;
    float: left;
}

.additional span {
    border-bottom: 2px solid;
}


.additional span.status {
    display: inline;
    border-bottom: 0;
}

.open-source {
    border-color: lightseagreen !important;
}

.operational {
    border-color: dodgerblue !important;
}

.development {
    border-color: goldenrod !important;
}

.ideation {
    border-color: hotpink !important;
}

.card-text {
    background: white;
    margin: 0;
    padding: 1em 0.6em;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

.more {
    background: white;
    font-variant: small-caps;
    color: black;
    border: 1px solid black;
}

.less {
    background: white;
    font-size: larger;
    font-variant: small-caps;
    color: black;
    border: 1px dotted black;
}

.conversation {
    width: 90%;
    margin: auto;
}

.conversation p {
    display: block;
    clear: both;
    float: left;
    background: white
        /*#d7fff3*/
    ;
    padding: 7px;
    margin: 4px auto;
    border: 1px dotted black;
    border-radius: 7px;
}

.conversation p.reply {
    float: right;
    background: aquamarine;
}

.optional {
    display: none;
}

.blog,
.services {
    letter-spacing: -0.04em;
}

.blog h2.pzntrk,
.services h2.pzntrk,
.resources h2.pzntrk {
    text-align: center;
}

.blog figcaption,
.services figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    font-weight: 600;
}

.shop .gatsby-image-wrapper {
    width: 45% !important;
    margin: auto;
}

.blog details {
    margin-bottom: 3px;
    max-height: 250px;
    overflow: auto;
    border: 1px dotted #000;
    background-color: #dffaed;
    padding: 0 14px;
}

.blog details summary {
    font-weight: 600;
    font-variant: small-caps;
}

.blog details ol li {
    margin: 0.5em 0;
    line-height: 0.9em;
    font-size: smaller;
}

.post-title {
    height: 100%;
}

.roadmap .ascii {
    max-height: 600px;
    overflow: auto;
}

.reverse {
    flex-direction: row-reverse;
}

/**************************************/
/*********** FOOTER SECTION **********/
/************************************/

footer {
    margin-top: 5em;
    padding-top: 0.4em;
    border-top: 1px dotted #fff;
    background: black;
    color: #ddd;
}

footer a {
    color: white;
}

footer ul {
    padding-left: 0
}

footer ul li {
    list-style-type: none;
    margin: 0;
}

.wordcloud {
    display: none;
    justify-content: right;
}

.wordcloud ul {
    display: flex;
    flex-wrap: wrap;
    align-self: end;
    justify-content: end;
    margin: 0;
}

.wordcloud li {
    line-height: 1.3rem;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

.wordcloud .s1 {
    --size: 1;
}

.wordcloud .s2 {
    --size: 2;
}

.wordcloud .s3 {
    --size: 3;
}

.wordcloud .s4 {
    --size: 4;
}

.wordcloud .s5 {
    --size: 5;
}

.wordcloud .s6 {
    --size: 6;
}

.wordcloud li a {
    font-size: calc(5/var(--size) * 0.3rem + 1rem);
    margin: 0 7px;
    text-decoration: none;
}

.lower-footer {
    margin-top: 2em;
    border-top: 1px dotted #fff;
}

.lower-footer ul li {
    text-align: right;
}

footer p {
    margin-right: 7px;
}

/**************************************/
/********* CHERRIES ON TOP ***********/
/************************************/

.linky ul {
    font-size: 2rem;
}

.linky ul li {
    display: inline-block;
    margin-right: 7px;
}

.small {
    font-size: smaller;
}

.small svg {
    font-size: 1.5rem;
}

.tab-content,
.nav-tabs {
    font-size: small;
}

.socialShare {
    margin-left: 0;
    border: 0;
}

.socialShare button {
    margin: 14px 7px auto 0;
}

.content h2.hide,
.hidey,
.hidey-lg {
    display: none;
}

details summary {
    margin-bottom: 14px;
}

.footnote,
.statustip {
    margin: 0 auto;
    font-size: smaller;
}

.statustip {
    margin-left: -3px;
    font-weight: 900;
    cursor: pointer;
    border: 0;
    background: none;
    vertical-align: super;
    font-size: x-small;
}

.ascii pre {
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    overflow: hidden;
}

.accessibility-hide {
    display: none;
}

.capsies {
    font-variant: small-caps;
}

.copy-r {
    font-size: x-small;
}

.transparent {
    background: transparent;
    margin-top: -14px;
}

.support {
    border-radius: 14px;
}

.nav-item.support a {
    color: #e60079;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Verdana;
    font-weight: 600;
}

.embedio {
    margin: 0;
}

.embedio.tiktok iframe,
.embedio.tiktok .tiktok-embed {
    width: unset !important;
    margin-left: 0;
}

.embedio.linkedin iframe {
    width: 50%;
    aspect-ratio: 9/16;
}

.embedio.youtube iframe,
.embedio.ted iframe,
.embedio.vimeo iframe,
.embedio.twitch iframe {
    aspect-ratio: 16/9;
    width: 50%;
    height: 50%;
}

/**************************************/
/************* ANIMATIONS ************/
/************************************/

header,
main,
.fadey {
    animation-name: fade-in;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.from-left {
    animation-name: left-right;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes left-right {
    from {
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotate(0deg);
        background-color: #444;
        opacity: 0;
    }

    50% {
        background-color: rgb(138, 138, 138);
    }

    to {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0deg);
        opacity: 1;
    }
}

.from-right {
    animation-name: right-left;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes right-left {
    from {
        transform: translate3d(100%, 0, 0) scale3d(1, 1, 1) rotate(0deg);
        background-color: #444;
        opacity: 0;
    }

    50% {
        background-color: rgb(138, 138, 138);
    }

    to {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0deg);
        opacity: 1;
    }
}

.from-top {
    animation-name: top-down;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes top-down {
    from {
        transform: translate3d(0, -100%, 0) scale3d(1, 1, 1) rotate(0deg);
        opacity: 0;
    }

    50% {}

    to {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0deg);
        opacity: 1;
    }
}

.from-down {
    animation-name: top-down;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes down-top {
    from {
        transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotate(0deg);
        opacity: 0;
    }

    50% {}

    to {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0deg);
        opacity: 1;
    }
}

/**************************************/
/************ RESPONSIVE *************/
/************************************/

@media screen and (min-width: 768px) {
    .logo {
        padding-right: 14%;
    }

    main .gatsby-image-wrapper,
    main .gatsby-image-wrapper-constrained {
        width: 90% !important;
    }

    main .gatsby-image-wrapper:hover,
    main .gatsby-image-wrapper-constrained:hover {
        border-top-left-radius: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        margin-left: 10%;
    }

    main .article-title .gatsby-image-wrapper,
    main .article-title .gatsby-image-wrapper-constrained {
        max-width: 600px;
        border: 1px solid;
        border-radius: 0;
    }

    main .article-title .gatsby-image-wrapper:hover,
    main .article-title .gatsby-image-wrapper-constrained:hover {
        margin: 0;
    }

    .hidey {
        display: block;
    }

    .content h2 {
        margin-top: 0;
    }

    .blog .gatsby-resp-image-wrapper {
        max-width: 60% !important;
    }

    .lower-footer ul li {
        display: inline-block;
        text-align: left;
    }

    .additional span.status {
        display: block;
    }
    
}

@media screen and (min-width: 992px) {
    .reverse {
        flex-direction: row-reverse;
    }
    
    header .dropdown-menu {
        text-align: left;
    }

    .topper h1 {
        margin-right: 7%;
    }

    .categorical .navbar-collapse {
        border-top: 0;
    }

    .wordcloud {
        display: flex;
    }

    .border-hidey {
        border-left: 1px solid #dee2e6;
    }

    .inverse-hidey {
        display: none;
    }

    .blog h2.pzntrk,
    .services h2.pzntrk,
    .resources h2.pzntrk {
        text-align: right;
    }

    .card-title h3 {
        font-size: large;
    }

    .blog h3,
    .services h3,
    .resources h3 {
        font-size: large;
    }

    .blog h4,
    .services h4,
    .resources h4 {
        font-size: medium;
    }

    .blog h5,
    .services h5,
    .resources h5 {
        font-size: small;
    }

    .blog .gatsby-resp-image-wrapper {
        max-width: 35% !important;
        transition: 1s;
    }

    .blog .gatsby-resp-image-wrapper:hover {
        max-width: 60% !important;
    }

    .hidey-lg {
        display: block;
    }

    .support {
        border-radius: 0;
    }
}


@media screen and (min-width: 1400px) {
    .additional span.status {
        display: inline;
    }
}

/**************************************/
/************** THE END **************/